:root{
  --green:#359756;
  --ash:#e5e5e5;
  --light-green:#baefcc;
  --yellow:f1c50e;
  --ash-background:#f2f2f2;
  --txt-black:#111111;  
}
*{
  font-family: 'Open Sans', sans-serif;
}
[class$='btn']{
  cursor: pointer;
}
.justify-cen{
  display: flex;
  justify-content: center;
}
.pad-0{
  padding: 0 !important;
}
nav{
  margin: 20px 18vw 20px 8vw;
}
nav, .nav-left{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-logo{
  width:63px;
  height: 32px;
}
.home-logo img{
  width: 100%;
}
.hamburger{
  border: 1.5px solid black;
  background-color: black;
  margin-bottom: 4px;
  width: 23px;
  border-radius: 4px;
}
/* Menu */
.menu{
  color: white;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 17vw 70vw;
  background-color:rgba(0, 0, 0, 0.63);
  transition: all 5s;
}
.new-menu{
  width: 50vw;
  transition: width 5s;
}
::-webkit-scrollbar{
  display:auto;
}
.left-menu{
  background-color: black;
  padding-top: 20px;
}
.left-menu ul{
  height: 100vh;
  margin-top: 0;
  background-color: black;
  opacity: 1;
  list-style: none;
  text-align: center;
  padding: 20px ;
}
.close-btn{
  text-align: right;
  margin-right: 20px;
}
.close-btn::before{
  content: "\2715";
  font-size: 28px;
}

/* Footer */
footer{
  background-color: #333333;
  padding: 10vh 20vw 0;
  display: flex;
  justify-content: center;
}
.fter-txt{
  text-align: center;
  font-size: 0.875rem;
  color: white;
  width: 50%;
}
.sec-fter-txt{
  margin-top: 20vh;
  font-size: 0.8rem;
}

/* Hero Section */
.hero-section{
  margin: 10vh 10vw;
  display: grid;
  grid-template-columns: 45% 55%;
  gap: 4%;
  padding-bottom: 5%;
}
.hero-h1-txt{
  color: var(--green);
  font-family: Montserrat, sans-serif !important;
  font-size: 3.75rem;
  font-weight: 700;
  width: 70%;
}
.hero-p-txt{
  color: #111111;
  font-size: 1rem;
  font-weight: 300; 
  margin: 32px 1px 0 0;
}
.btn-cont{
  margin-top: 10%;
}
.green-btn{
  background-color: var(--green);
  padding: 12px 24px;
  font-weight: 700;
  font-size: 1rem;
  border: 0;
  border-radius: 8px; 
  color: white;
  margin-right: 10px;
}
.ash-btn{
  background-color: var(--ash);
  padding: 12px 30px;
  font-weight: 700;
  font-size: 1rem;
  border: 0;
  border-radius: 8px; 
  margin-right: 10px;
}
.hero-img-cont img{
  width: 90%;
}

/* Second Section */
.sec2{
  background-color: var(--ash-background);
  display: grid;
  grid-template-columns: 39% 55%;
  gap: 6%;
  padding: 12vh 7vw;
  
}
.cta-h2-txt{
  color: var(--green);
  font-family: Montserrat, sans-serif !important;
  font-size: 3rem;
  font-weight: 700;
  margin: 32vh 0 0 ;
}
.cta-p-txt {
  font-size: 1.5rem;
  margin: 0;
  color: var(--txt-black);
  /* width: 70%; */
}
.cta-green-btn {
  background-color: var(--green);
  padding: 18px 3.9vw;
  font-weight: 700;
  font-size: 1.125rem;
  border: 0;
  border-radius: 8px;
  color: white;
  margin-right: 10px;
}
.right-sec{
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
}
.blurb-bg{
  background-color: white;
  text-align: center;
  padding: 30px 30px 35px;
  margin-bottom: 20px;
}
.blurb-icon{
  background-color: var(--light-green);
  border-radius: 100%;
  width: 70px;
  height:  70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blurb-btn{
  color: white;
  background-color: var(--green);
  margin: 25px auto 0;
  padding: 5px 31px 6px 30px;
  border:0px ;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 18px;
}
.blurb-bg h3{
  color: var(--green);
  font-size:1.875rem;
  margin: 25px auto 0;
  font-weight: 400;
}
.blurb-bg p{
  color:#555c66;
  /* font-size:1.875rem; */
  margin: 17px 0 0;
  padding:0 17px;
  font-style: italic;
  line-height:27px;
}
.underline-btn{
  border-style: none none solid;
  border-color: var(--green);
  background-color: transparent;
  padding-bottom: 10px;
  color: #111111;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 20px auto 0 ;
  padding: 0;
  font-size: 1.05rem;
  cursor: pointer;
}
.underline-btn:hover{
  border-color: #7a8de9 !important;
  color: #0f0f0f;
}

@media (max-width: 990px){
  nav{
    margin: 20px 2vw;
  }
  .hero-section{
    margin: 2vw;
    gap: 10%;
    padding-bottom: 10%;
  }
  .hero-h1-txt {
    font-size: 3.125rem;
    font-weight: 700;
    width: auto;
  }
  .btn-cont{
    display: flex;
    flex-direction: column;
  }
  .green-btn{
    padding: 16px 12px;
    margin-bottom: 9%;
    width: 70%;
  }
  .ash-btn{
    padding: 16px 12px;
    width: 67%;
  }
  .hero-img-cont img{
      width: 80%;
      margin-top: 30%;
  }  
}

@media (max-width: 575px) {
  nav{
    flex-direction: column;
    align-content:space-between;
  }
  .home-logo{
    margin-bottom: 10%;
  }
  .hero-section{
    display: flex;
    flex-direction: column;
    padding-bottom: 20%;
  }
  .hero-h1-txt{
    font-size: 2.25rem;
    width: 80%;
  }
  .hero-img-cont img{
    margin-top: 10%;
  }
  .hero-img-cont{
    display: flex;
    justify-content: center;
  }
}